<h1>Lista de Productos</h1>
<a href="<%= new_product_path %>" class="btn btn-primary btn-icon-split">
  <span class="icon text-white-50">
    <i class="fas fa-flag"></i>
  </span>
  <span class="text">Crear Producto</span>
</a>
<br />
<table class="table">
  <thead>
    <th>ID</th>
    <th>Nombre</th>
    <th>Referencia</th>
    <th>Cantidad</th>
    <th>Acciones</th>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.reference %></td>
        <td><%= 0 %></td>
        <td><%= link_to "Detalles", product_path(product), class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
